* {
  font-weight: 700;
  background-color: #121212;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.background_gray {
  background-color: #121212;
}

.button1 {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  height: 150px;
  width: 150px;
  transform: rotate(45deg);
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #9ba1a7;
}
.span1 {
  display: block;
  color: #9ba1a7;
  font-weight: bold;
}
.button1::before,
.button1::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  transition: all 0.2s linear;
  background: rgb(241 245 249);
}

.span1::before,
.span1::after {
  content: "";
  width: 1px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: rgb(241 245 249);
}
.button1:hover::before,
.button1:hover::after {
  width: 100%;
}
.button1:hover span::before,
.button1:hover span::after {
  height: 100%;
}
.btn-4::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-4 .span1::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-4::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.btn-4 .span1::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
